---
import Header from "../components/Header.astro";
import Project from "../components/Project.astro";
import Sidebar from "../components/Sidebar.astro";
const projects = [
  {
    title: "GPS Transfer",
    desc: [
      "Desenvolvi uma Landing Page para um serviço de transfer de passageiros, com o intuito de aumentar a visibilidade online e atrair mais clientes.",
    ],
    tech: ["Astro", "React", "Tailwind CSS"],
    link: "https://gpstransfer.com.br",
  },
  {
    title: "Porto Seguro Roteiros",
    desc: [
      "Criei um site para uma agência de passeios, destacando seus roteiros personalizados e facilitando o contato com potenciais clientes.",
    ],
    tech: ["Next.js", "Tailwind CSS", "TypeSript"],
    link: "https://portoseguroroteiros.com.br",
  },
  {
    title: "Bumpi Imports",
    desc: [
      "Desenvolvi uma plataforma de e-commerce para uma empresa de importação, facilitando a venda de produtos importados diretamente aos consumidores.",
    ],
    tech: ["WordPress", "WooCommerce", "Elementor", "PHP"],
    link: "https://bumpiimports.com/",
  },
  {
    title: "CEMAC",
    desc: [
      "Criei um site institucional para uma escola, com o objetivo de fornecer informações sobre as turmas, eventos e facilitar a comunicação com alunos e pais.",
    ],
    tech: ["WordPress", "Elementor", "PHP"],
    link: "https://cebeijaflor.com.br/",
  },
];
---

<!doctype html>
<html>
  <Header title="Projetos Freelancer | Vinícius Freire" />
  <body>
    <div class="content">
      <Sidebar selectedItem="freelancer" />
      <nav class="main">
        <div class="container">
          <div class="back-nav-container">
            <a href="/" class="back-nav-button w-inline-block"
              ><img
                src="/assets/back.svg"
                loading="lazy"
                alt=""
                class="back-nav-img"
              />
              <div>Voltar</div></a
            >
          </div>
          <div class="content-container">
            <h1>Projetos Freelancer</h1>
            <section class="items-container">
              <div class="resouce-items">
                {
                  projects.map((project) => (
                    <Project
                      title={project.title}
                      link={project.link}
                      desc={project.desc}
                      tech={project.tech}
                    />
                  ))
                }
              </div>
            </section>
          </div>
        </div>
      </nav>
    </div>

    <!--[if lte IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
  </body>
</html>
